body{
margin: 0;
    padding: 0;
}





.auth{
   width: 100%;

    border: 1px solid black;
}

.content{
    font-size: 24px;
width: 100%;
text-align: center;
    border: 1px solid black;
}


.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    text-align: justify;
    margin:40px auto 0px auto;
    width:200px;
    height: 200px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}





.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;}

.vertical-center {
    height: 14rem;
    display: flex;
    align-items: center;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.background{




}


.modal-seen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    display: block;
}

textarea {
    min-height:110px;
    resize: none;
}
